@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.full-iframe {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: black !important;
}

.grid-container--tight {
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    ".. .. .. .. b1 b1 .."
    ".. .. .. .. b1 b1 .."
    ".. b2 b2 .. .. .. .."
    ".. b2 b2 .. .. .. .."
    ".. .. .. .. b3 b3 .."
    ".. .. .. .. b3 b3 .."
    ".. b4 b4 .. .. .. .."
    ".. b4 b4 .. .. .. .."
    ".. .. .. .. b5 b5 .."
    ".. .. .. .. b5 b5 .."
    ".. b6 b6 .. .. .. .."
    ".. b6 b6 .. .. .. ..";
}

.grid-container {
  display: grid;
  grid-gap: 13px;
  gap: 13px;
  grid-auto-flow: row dense;
}

.grid-container--tight>.game {
  height: 110px;
}

.grid-container>.game {
  text-align: center;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.my-icon {
  display: inline-block !important;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

.detail-icon {
  display: inline-block !important;
}

.logo-svg {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-animation: spin 0.5s ease-in-out;
  animation: spin 0.5s ease-in-out;
}
.logo-svg:hover {
  transform: rotate(360deg);
}

.ctrl-no-line {
  text-decoration: none !important;
}